.btn {
    border-radius: 50px !important;
    padding: .375em 15px !important;
}

.btn-primary {
    background-color: $pink !important;
    border-color: $pink !important;
}

button {
    background-color: inherit;
border: none;
}