.account-list {
    .card-header {
        padding: 0;
        border-bottom: none !important;
    }
  .new-operation {
    padding: 10px;
  }
  .add-operation {
    background-color: $blue;
    button {
      color: #fff;
    }
  }
}
