.card-login {
  max-width: 25rem;
  border-radius: 0;
  border: none;
}

.card-register {
  max-width: 40rem;
  border-radius: 0;
  border: none;
}

.form{
  padding: 30px;
}

.bg-signup {
  background-image: url(../assets/background.jpg);
  background-size: cover;
  background-position: center center;
}
